<mat-tab-group>
  <mat-tab>
    <img
      class="img-tutorial"
      src="assets/banner_magazineluiza.png"
      alt="Bem-vindo Magazine Luiza!"
    />
    <h2 class="tutorial-title">Bem-vindo ao Magalu!</h2>
    <p class="tutorial-description">
      Conheça melhor o Magazine Luiza e veja as vantagens de relacionar a sua
      marca com a nossa. Vem ser feliz com a gente!
    </p>
  </mat-tab>
  <mat-tab>
    <img
      class="img-tutorial"
      src="assets/icons/mipmap-xxhdpi/ic_launcher.png"
      alt="Magazine Luiza"
    />
    <h2 class="tutorial-title">Uma marca forte e reconhecida</h2>
    <p class="tutorial-description">
      Milhares de clientes chegam diariamente ao nosso site digitando o nome
      Magazine Luiza em um mecanismo de busca. Isto mostra que somos uma marca
      lembrada pelas pessoas.
    </p>
  </mat-tab>
  <mat-tab>
    <img
      class="img-tutorial"
      src="assets/bg-lu-cel.png"
      alt="Lu - Vendedora Magazine Luiza"
    />
    <h2 class="tutorial-title">Conteúdo que faz a diferença</h2>
    <p class="tutorial-description">
      Temos um grande diferencial: a Lu, nossa vendedora virtual, traz diversos
      conteúdos como: webvideos, dicas, infográficos e guias de compras. Tudo
      para ajudar os nossos clientes a entenderem sobre os produtos e fazerem a
      melhor compra.
    </p>
  </mat-tab>
</mat-tab-group>

<div class="button-group">
  <a class="btn btn-default" [routerLink]="formSignUp"
    ><button>Cadastre-se</button></a
  >
  <a class="btn btn-default" [routerLink]="formLogin"><button>Login</button></a>
</div>
