<mat-tab-group>
  <mat-tab>
    <h2>Bem-vindo ao Magalu!</h2>
    <p class="tutorial-description">Conheça melhor o Magazine Luiza e veja as cantagens de relacionar a sua marca com a
      nossa. Vem ser feliz com a
      gente!</p>
  </mat-tab>
  <mat-tab>
    <h2>Uma marca forte e reconhecida</h2>
    <p class="tutorial-description">Milhares de clientes chegam diariamente ao nosso site digitando o nome Magazine
      Luiza em um mecanismo de busca.
      Isto mostra que somos uma marca lembrada pelas pessoas. Além disso, é grande o número de consumidores que
      escolhem a gente para realizar sua primeira compra pela internet, o que revela que somos uma marca na qual as
      pessoas confiam.</p>
  </mat-tab>
  <mat-tab>
    <h2>Conteúdo que faz a diferença</h2>
    <p class="tutorial-description">Temos um grande diferencial: a Lu, nossa vendedora virtual. Ela traz diversos
      conteúdos como: webvideos,
      podcasts, matérias, dicas, infográficos e guias de compras. Tudo para ajudar os nossos clientes a entenderem
      sobre os produtos e fazerem a melhor compra.</p>
  </mat-tab>
</mat-tab-group>

<div class="button-group">
  <a class="btn btn-default" href="/form-signup"><button>Cadastre-se</button></a>
  <a class="btn btn-default" href="/form-login"><button>Login</button></a>
</div>
