.btn-default {
  display: block;
  margin: 1rem auto 0;
  width: 180px;
  & button {
    width: 100%;
  }
}
.btn-radius {
  background: #0081ce;
  border-radius: 50%;
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 5%;
  left: calc(50% - 40px / 2);
  & button {
    color: #fff;
    font-size: 20px;
    padding: 0.5em 0;
    width: 100%;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  & small {
    font-size: 0.6em;
    text-align: center;
  }
}

.results {
  background: #fff;
  position: absolute;
  top: -500px;
  left: 0;
  padding: 2em;
  transition: top 0.6s ease-in-out;
  width: 100%;
  &.hasCode {
    top: 0;
  }
  & h1 {
    color: rgb(100, 100, 100);
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
  }
}

.scanner-shell {
  height: 100vh;

  /deep/ video {
    height: 100vh !important;
    width: 100vw;
    object-fit: contain;
  }
}
