<div class="scanner-shell" [hidden]="!hasDevices">
  <zxing-scanner
    #scanner
    [device]="currentDevice"
    (camerasFound)="camerasFoundHandler($event)"
    (scanSuccess)="handleQrCodeResult($event)"
    [formats]="['EAN_13', 'CODE_128', 'QR_CODE']"
    [tryHarder]="true"
  ></zxing-scanner>
</div>

<section class="results" *ngIf="qrResultString" [class.hasCode]="hasResult">
  <h1>Código: {{ qrResultString }} <br />encontrado!</h1>
  <a [routerLink]="formItem" class="btn btn-default">
    <button>Clique para cadastrar</button>
  </a>
</section>

<ng-container *ngIf="hasPermission === undefined">
  <h2>Aguardando permissão da câmera...</h2>
</ng-container>

<ng-container *ngIf="hasPermission === false">
  <h2>
    Você negou permissão a câmera do seu dispositivo. Não podemos ajudar 😪
  </h2>
</ng-container>

<ng-container *ngIf="hasDevices === undefined">
  <h2>Não foi possível verificar o dispositivo.</h2>
</ng-container>

<ng-container *ngIf="hasDevices === false">
  <h2>No devices were found.</h2>
</ng-container>

<div class="container">
  <a [routerLink]="home" class="btn btn-radius"><button>X</button> </a>
</div>
