<div class="brand"></div>
<div class="container">
  <form>
    <fieldset>
      <div class="inputs">
        <label for="">E-mail</label>
        <input type="email" class="input-default">
      </div>
      <div class="inputs">
        <label for="">Usuário Loja</label>
        <input type="text" class="input-default">
      </div>
      <div class="inputs">
        <label for="">Senha</label>
        <input type="password" class="input-default">
      </div>
    </fieldset>

    <a class="btn-default btn-login"><button>Entrar</button></a>
  </form>
</div>
