@import "_reset/resets";
@import "_base/default";
@import "_base/fonts";

body {
  background: rgb(245, 245, 245);
}

.mat-stepper-horizontal {
  height: 100vh;
}

.mat-tab-header,
.mat-tab-nav-bar {
  border: none;
  margin: 2.6rem auto;
}

.mat-tab-labels {
  margin: 0 auto;
  width: 260px;
}

.mat-tab-label {
  background: rgba(0, 129, 204, 0.4);
  border-radius: 1rem;
  margin: 0 6px;

  height: 22px !important;
}

.mat-tab-label.mat-tab-label-active {
  background: rgba(0, 129, 204, 1);
}

.mat-tab-group {
  margin: 0 auto;
  max-width: 300px;
  text-align: center;
}

.mat-ink-bar {
  border-radius: 1rem;

  height: 22px !important;
}

.mat-step-header {
  &:hover {
    background: none;
  }
}

.mat-horizontal-stepper-header-container {
  position: relative;
  z-index: 1;
  &:after {
    content: "";
    background: rgb(161, 161, 161);
    position: absolute;
    left: 10%;
    top: 35%;
    height: 1px;
    width: 75%;
    z-index: -1;
  }
}

.mat-step-header .mat-step-icon {
  background: white;
  border: 1px solid rgb(161, 161, 161);
  color: rgb(161, 161, 161);
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif !important;
  font-weight: bold;
  height: 60px;
  width: 60px;
}

.mat-step-header .mat-step-icon-selected {
  background: rgba(0, 129, 204, 1);
  color: white;
}

.mat-step-header .mat-step-label {
  overflow: visible;
  text-overflow: initial;
  &.mat-step-label-active {
    color: rgba(0, 129, 204, 1);
    font-size: 0.8rem;
    font-weight: bold;
  }
}

.mat-form-field {
  margin: 0 auto;
  max-width: 460px;
  width: 95%;
  & .mat-form-field-infix {
    width: 100%;
  }
}
